---
layout: default
title: Team members
group: members
---
<h1>Human+ Team Members</h1>

<div class="row">
  <div class="col-sm-4">
  	<a href="/members/members_complete/index.html#Dr. Ruud Hortensius"><img class="rounded-circle" src="/static/img/members/Ruud-1.jpg"; width="200"; height="200"></a>
  	<br>
  	<strong>Dr. Ruud Hortensius</strong>
  	<br>
  	Principal Investigator
  	<br>
  	<a href="http://ruudhortensius.nl"><img class="inline-block mem-icon" src="/static/img/logo/website.png"></a>
  	<br>
  	<br>

   </div>
   
  <div class="col-sm-4">
  	<a href="/members/members_complete/index.html#Fabiola Diana"><img class="rounded-circle" src="/static/img/members/fabi.jpeg"; width="200"; height="200"></a>
  	<br>
  	<strong>Fabiola Diana</strong> 
  	<br>
  	PhD-candidate
  	<br>
  	<a href="http://twitter.com/FabiolaDianaa"><img class="inline-block mem-icon" src="/static/img/logo/twitter_logo.svg"></a>
   </div>
   
    <div class="col-sm-4">
  	<a href="/members/members_complete/index.html#Ronja Held"><img class="rounded-circle" src="/static/img/members/ronja.jpeg"; width="200"; height="200"></a>
  	<br>
  	<strong>Ronja Held</strong> 
  	<br>
  	PhD-candidate
  	<br>
   </div>

    <div class="col-sm-4">
  	<a href="/members/members_complete/index.html#Ann Hogenhuis"><img class="rounded-circle" src="/static/img/members/ann.jpeg"; width="200"; height="200"></a>
  	<br>
  	<strong>Ann Hogenhuis</strong> 
  	<br>
  	PhD-candidate
  	<br>

  	<br>
   </div>


  <div class="col-sm-4">
  	<a href="/members/members_complete/index.html#Aline Moore Lorusso"><img class="rounded-circle" src="/static/img/members/aline-2.jpg"; width="200"; height="200"></a>
  	<br>
  	<strong>Aline Moore Lorusso</strong> 
  	<br>
  	PhD-candidate
  	<br>
   </div>

  <div class="col-sm-4">
  	<a href="/members/members_complete/index.html#Dorka Boda"><img class="rounded-circle" src="/static/img/members/dorka.jpg"; width="200"; height="200"></a>
  	<br>
  	<strong>Dorka Boda</strong> 
  	<br>
  	Research assistant
  	<br>
   </div>

 <div class="col-sm-4">
  	<a href="/members/members_complete/index.html#Hester van Beek"><img class="rounded-circle" src="/static/img/members/hester.jpg"; width="200"; height="200"></a>
  	<br>
  	<strong>Hester van Beek</strong> 
  	<br>
  	MSc student and student-assistant
  	<br>
   </div>

 <div class="col-sm-4">
  	<a href="/members/members_complete/index.html#Zhen Cong Ng"><img class="rounded-circle" src="/static/img/members/zhen.jpeg"; width="200"; height="200"></a>
  	<br>
  	<strong>Zhen Cong Ng</strong> 
  	<br>
  	MSc student
  	<br>
   </div>  

 <div class="col-sm-4">
  	<a href="/members/members_complete/index.html#Luna Walls"><img class="rounded-circle" src="/static/img/members/luna.jpg"; width="200"; height="200"></a>
  	<br>
  	<strong>Luna Walls</strong> 
  	<br>
  	MSc student
  	<br>
   </div>
   
  <div class="col-sm-4">
  	<a href="/members/members_complete/index.html#Fabíola de Andrade"><img class="rounded-circle" src="/static/img/members/fabíola.jpeg"; width="200"; height="200"></a>
  	<br>
  	<strong>Fabíola de Andrade</strong> 
  	<br>
  	MSc student
  	<br>
   </div>
   

 <div class="col-sm-4">
  	<a href="/members/members_complete/index.html#Giulia d'Angelo"><img class="rounded-circle" src="/static/img/members/giulia.jpg"; width="200"; height="200"></a>
  	<br>
  	<strong>Giulia d'Angelo</strong> 
  	<br>
  	Student-assistant
  	<br>
   </div>


  <div class="col-sm-4">
  	<a href="/join/index.html"><img class="rounded-circle" src="/static/img/members/you.png"; width="200"; height="200"></a>
  	<br>
  	<strong>Join our team</strong> 
  	<br>
  	<br>
   </div>   
   
</div>
  	<br>
  	<br>
  	<br>

<h3>Collaborators</h3>
<div class="row">
  	<div class="col-sm-4">
  	<br>
	<strong>Mariska Kret</strong> 
  	<br>
	Leiden University
  	<br>
	<i>Social interaction</i>
  	<br>
  	<a href="http://mariskakret.com"><img class="inline-block mem-icon" src="/static/img/logo/website.png"></a>
   	</div>
    
    <div class="col-sm-4">
  	<br>
  	<strong>Baptist Liefooghe</strong> 
  	<br>
	Utrecht University
  	<br>
	<i>Psychology and human-centered AI</i>
  	<br>
  	<a href="https://www.uu.nl/staff/BLiefooghe"><img class="inline-block mem-icon" src="/static/img/logo/website.png"></a>
   	</div>
	
	<div class="col-sm-4">
  	<br>
  	<strong>Henk Aarts</strong> 
  	<br>
	Utrecht University
  	<br>
	<i>Psychology and human-centered AI</i>
  	<br>
  	<a href="https://www.uu.nl/staff/HAarts"><img class="inline-block mem-icon" src="/static/img/logo/website.png"></a>
   	</div>
  	
  	<div class="col-sm-4">
  	<br>
  	<strong>Peter Ruijten</strong> 
  	<br>
	Eindhoven University of Technology
  	<br>
	<i>Human-robot interaction</i>
  	<br>
  	<a href="https://www.tue.nl/en/research/researchers/peter-ruijten-dodoiu/"><img class="inline-block mem-icon" src="/static/img/logo/website.png"></a>
   </div>

</div>
  	<br>
  	<br>
  	<br>

<h3>Human+ alumni</h3>
<div class="row">
  	
  	<div class="col-sm-4">
  	<br>
	<strong>Luca Leisten</strong> 
  	<br>
	Research assistant and MSc-student
  	<br>
	<i>Reciprocity during child-robot interaction</i>
	<br> 
	[<a href="https://osf.io/8au6v/">preprint</a>] 
	[<a href="https://osf.io/z9kxb/">data and task</a>]
	[<a href="https://osf.io/5djbc/">preregistration</a>]
   	</div>
   	
  	<div class="col-sm-4">
  	<br>
	<strong>Sarah Sobotta</strong> 
  	<br>
	DAAD RiSE intern 
  	<br>
	<i>Decision-making during HRI</i>
	<br>[code will be released soon] 
   	</div>

  	<div class="col-sm-4">
  	<br>
	<strong>Diana Usmanova</strong> 
  	<br>
	Social and Health Psychology MSc-student 
  	<br>
	<i>Collective moral decision-making and digital voice assistants</i>
   	</div>

  	<div class="col-sm-4">
  	<br>
	<strong>Nele Och</strong> 
  	<br>
	Social and Health Psychology MSc-student 
  	<br>
	<i>Collective decision-making and digital voice assistants</i>
   	</div>

  	<div class="col-sm-4">
  	<br>
	<strong>Ghislaine van den Boogerd</strong> 
  	<br>
	Artificial Intelligence MSc-student  
  	<br>
	<i>Voice assistants at home</i>
   	<br>[preprint will be released soon] 
	</div>


	
  	<div class="col-sm-4">
  	<br>
	<strong>Lukas Kraff</strong> 
  	<br>
	Artificial Intelligence BSc-student 
  	<br>
	<i>Detection of social interaction with bayesian hierarchical and behavioural models</i>
	<br>
	[<a href="https://gitlab.com/human-plus/sidcom">stimuli and game</a>] 
	<br> 
   	</div>
   	
   	<div class="col-sm-4">
  	<br>
	<strong>Geertje Hendriks</strong> 
  	<br>
	Student assistant 
  	<br>
	<i>Embodied AI initiative</i>
	[<a href="https://embodiedaiuu.wixsite.com/home">website</a>] 
   	</div>
   	
   	<div class="col-sm-4">
  	<br>
	<strong>Pinar Sahin</strong> 
  	<br>
	Social, Health and Organisational Psychology MSc-student 
  	<br>
	<i>Interactions with pets, robots and virtual assistants</i>
   	</div>
   	
   	
  	<div class="col-sm-4">
  	<br>
	<strong>Emily Floren</strong> 
  	<br>
	Erasmus+ intern
  	<br>
	<i>Human-robot interaction and social chemosignaling</i>
   	</div>
   	
  	<div class="col-sm-4">
  	<br>
	<strong>Melissa Jansen</strong> 
  	<br>
	DAAD RiSE intern
  	<br>
	<i>Voice assistants at home</i>
   	<br>[preprint will be released soon] 
	</div>
   	
   	<div class="col-sm-4">
  	<br>
	<strong>Manuel Barbosa de Oliveira</strong> 
  	<br>
	Postdoc
  	<br>
	<i>AI and social cognition</i>
   	</div>

   	<div class="col-sm-4">
  	<br>
	<strong>Zsuzsa Komáromy</strong> 
  	<br>
	Social and Health Psychology MSc-student 
  	<br>
	<i>Attentional biases in conspiracy theory believers</i>
	<br>[preprint will be released soon] 
   	</div>   	

  	<div class="col-sm-4">
  	<br>
	<strong>Quinten Stekelenburg</strong> 
  	<br>
	Artificial Intelligence MSc-student  
  	<br>
	<i>Collective moral-decision making and social robots</i>
   	</div>

   	   	
</div>



