---
layout: members
title: Team members
heading:
group: members
---
<h1>Human+ Team Members</h1>


{% for member in site.members %}
        <hr>
        <!-- The paddingtop and margin-top edits allow anchors to link properly. -->
        <div id = "{{member.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
            <div class="column">
                <img class="rounded-circle" src="{{member.image}}" {% if member.altimage %} onmouseover="this.src='{{member.altimage}}';" onmouseout="this.src='{{member.image}}';" {% endif %} alt="{{member.name}}"; width="365"; height="365"><br>
                <strong>{{member.name}}</strong> <br>
                {{member.position | markdownify | remove: '<p>' | remove: '</p>' }} <br>
                {% if member.website %}
                  <a style="overflow-wrap: break-word;" href= "{{member.website}}">{{member.website}}</a> <br>
                {% endif %}
                {% if member.orcid %}
                  <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/logo/orcid_logo.svg"></a>
                  <a href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a> <br>
                {% endif %}
                {% if member.linkedin %}
                  <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/logo/linkedin_logo.svg"></a>
                  <a href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a> <br>
                {% endif %}
                {% if member.scholar %}
                  <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/logo/gscholar_logo.svg"></a>
                  <a href= "http://scholar.google.com/citations?user={{member.scholar}}"> Scholar Citations </a> <br>
                {% endif %}
                {% if member.twitter %}
                  <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/logo/twitter_logo.svg"></a>
                  <a href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a> <br>
                {% endif %}
                {% if member.github %}
                  <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/logo/github_logo.svg"></a>
                  <a href= "http://github.com/{{member.github}}"> {{member.github}} </a> <br>
                {% endif %}
            	{% if member.gitlab %}
                  <a href="http://gitlab.com"><img class="inline-bloc mem-icon" src="/static/img/logo/gitlab_logo.png"></a>
                  <a href= "http://gitlab.com/{{member.gitlab}}"> {{member.github}} </a> <br>
                {% endif %}
            </div>
            <div class="col-sm-8">
                <p class="text-justify">{{member.description | markdownify}}</p>
            </div>
        </div>
{% endfor %}

<h3>Collaborators</h3>
<div class="row">
  	<div class="col-sm-4">
  	<br>
	<strong>Mariska Kret</strong> 
  	<br>
	Leiden University
  	<br>
	<i>Social interaction</i>
  	<br>
  	<a href="http://mariskakret.com"><img class="inline-block mem-icon" src="/static/img/logo/website.png"></a>
   	</div>
    
    <div class="col-sm-4">
  	<br>
  	<strong>Baptist Liefooghe</strong> 
  	<br>
	Utrecht University
  	<br>
	<i>Psychology and human-centered AI</i>
  	<br>
  	<a href="https://www.uu.nl/staff/BLiefooghe"><img class="inline-block mem-icon" src="/static/img/logo/website.png"></a>
   	</div>
	
	<div class="col-sm-4">
  	<br>
  	<strong>Henk Aarts</strong> 
  	<br>
	Utrecht University
  	<br>
	<i>Psychology and human-centered AI</i>
  	<br>
  	<a href="https://www.uu.nl/staff/HAarts"><img class="inline-block mem-icon" src="/static/img/logo/website.png"></a>
   	</div>
  	
  	<div class="col-sm-4">
  	<br>
  	<strong>Peter Ruijten</strong> 
  	<br>
	Eindhoven University of Technology
  	<br>
	<i>Human-robot interaction</i>
  	<br>
  	<a href="https://www.tue.nl/en/research/researchers/peter-ruijten-dodoiu/"><img class="inline-block mem-icon" src="/static/img/logo/website.png"></a>
   </div>

</div>
  	<br>
  	<br>
  	<br>

<h3>Human+ alumni</h3>
<div class="row">
  	
  	<div class="col-sm-4">
  	<br>
	<strong>Luca Leisten</strong> 
  	<br>
	Research assistant and MSc-student
  	<br>
	<i>Reciprocity during child-robot interaction</i>
	<br> 
	[<a href="https://osf.io/8au6v/">preprint</a>] 
	[<a href="https://osf.io/z9kxb/">data and task</a>]
	[<a href="https://osf.io/5djbc/">preregistration</a>]
   	</div>
   	
  	<div class="col-sm-4">
  	<br>
	<strong>Sarah Sobotta</strong> 
  	<br>
	DAAD RiSE intern 
  	<br>
	<i>Decision-making during HRI</i>
	<br>[code will be released soon] 
   	</div>

  	<div class="col-sm-4">
  	<br>
	<strong>Diana Usmanova</strong> 
  	<br>
	Social and Health Psychology MSc-student 
  	<br>
	<i>Collective moral decision-making and digital voice assistants</i>
   	</div>

  	<div class="col-sm-4">
  	<br>
	<strong>Nele Och</strong> 
  	<br>
	Social and Health Psychology MSc-student 
  	<br>
	<i>Collective decision-making and digital voice assistants</i>
   	</div>

  	<div class="col-sm-4">
  	<br>
	<strong>Ghislaine van den Boogerd</strong> 
  	<br>
	Artificial Intelligence MSc-student  
  	<br>
	<i>Voice assistants at home</i>
   	<br>[preprint will be released soon] 
	</div>


	
  	<div class="col-sm-4">
  	<br>
	<strong>Lukas Kraff</strong> 
  	<br>
	Artificial Intelligence BSc-student 
  	<br>
	<i>Detection of social interaction with bayesian hierarchical and behavioural models</i>
	<br>
	[<a href="https://gitlab.com/human-plus/sidcom">stimuli and game</a>] 
	<br> 
   	</div>
   	
   	<div class="col-sm-4">
  	<br>
	<strong>Geertje Hendriks</strong> 
  	<br>
	Student assistant 
  	<br>
	<i>Embodied AI initiative</i>
	[<a href="https://embodiedaiuu.wixsite.com/home">website</a>] 
   	</div>
   	
   	<div class="col-sm-4">
  	<br>
	<strong>Pinar Sahin</strong> 
  	<br>
	Social, Health and Organisational Psychology MSc-student 
  	<br>
	<i>Interactions with pets, robots and virtual assistants</i>
   	</div>
   	
   	
  	<div class="col-sm-4">
  	<br>
	<strong>Emily Floren</strong> 
  	<br>
	Erasmus+ intern
  	<br>
	<i>Human-robot interaction and social chemosignaling</i>
   	</div>
   	
  	<div class="col-sm-4">
  	<br>
	<strong>Melissa Jansen</strong> 
  	<br>
	DAAD RiSE intern
  	<br>
	<i>Voice assistants at home</i>
   	<br>[preprint will be released soon] 
	</div>
   	
   	<div class="col-sm-4">
  	<br>
	<strong>Manuel Barbosa de Oliveira</strong> 
  	<br>
	Postdoc
  	<br>
	<i>AI and social cognition</i>
   	</div>

   	<div class="col-sm-4">
  	<br>
	<strong>Zsuzsa Komáromy</strong> 
  	<br>
	Social and Health Psychology MSc-student 
  	<br>
	<i>Attentional biases in conspiracy theory believers</i>
	<br>[preprint will be released soon] 
   	</div>   	

  	<div class="col-sm-4">
  	<br>
	<strong>Quinten Stekelenburg</strong> 
  	<br>
	Artificial Intelligence MSc-student  
  	<br>
	<i>Collective moral-decision making and social robots</i>
   	</div>
   	
</div>
