{% include header.html %}
<div class="container">
   <div class="row">
       <div class="col-sm-9">
           <br>
           {{ content }}
    </div>
    <div class="col-sm-3 smalltxt">
        <br>
    </div>
</div>
<br>
</div>
{% include footer.html %}
