---
title: Publications from Human+
layout: default
group: publications
---

<h1>Publications</h1>
<br>
<hr>
<div class="container-fluid">
        <h3>Preprints & Under Review </h3> 
         <b>Ronja F. Held</b>, <b>Aline Moore Lorusso</b>, <b>Ann L.M.P. Hogenhuis</b>, Esther S. Kluwer, <b>Ruud Hortensius</b> (2024). Understanding family dynamics through a neurocognitive lens. PsyArXiv. November 29. doi:10.31234/osf.io/zj7tu.

         <br>  
         <br>  
         &nbsp;&nbsp;&nbsp;&nbsp; [<a href="https://osf.io/preprints/psyarxiv/zj7tu">preprint</a>]

        <br>
        <br>    
        
        
        
        <b>Zsuzsa Komáromy</b>, <b>Aline Moore Lorusso</b>, Reine C. van der Wal, <b>Ruud Hortensius</b> (2024). Revealing Attentional Biases in Conspiracy Theory Believers. PsyArXiv. March 1. doi:10.31234/osf.io/p2bgy.

         <br>  
         <br>  
         &nbsp;&nbsp;&nbsp;&nbsp; [<a href="https://osf.io/preprints/psyarxiv/p2bgy">preprint</a>]
         [<a href="https://osf.io/z4jak/">data and materials</a>]
         [<a href="https://aspredicted.org/WKS_7TV">preregistration</a>]


        <br>
        <br>     
                     
         
        <h3>Selected Peer-Reviewed Publications</h3>        
        {% for publication in site.publications reversed %}
                <div>{{ publication.citation | markdownify }} &nbsp;&nbsp;&nbsp;&nbsp; [<a href="{{publication.pdf}}" alt = "PDF">Full Text</a>]                 
                     {% if publication.links %}
                           {% for link in publication.links %}
                              [<a href="{{link.url}}" alt="{{link.name}}">{{link.name}}</a>]
                           {% endfor %}
                     {% endif %}
                </div>

                <div class="row" style="padding-top: 5px; margin-top: - 5px;">
                </div>
                <br>
        {% endfor %} 
        
        <hr>
        <h3>Conference Proceedings</h3>
         <b>Ronja F. Held</b>, <b>Aline Moore Lorusso</b>, <b>Ruud Hortensius</b> (2024). Informing family-centered design through a neurocognitive approach. CHI 2024 Workshop on Methods for Family-Centered Design.

         <br>  
         <br>  
         &nbsp;&nbsp;&nbsp;&nbsp; [<a href="https://human-plus.gitlab.io/publications/HeldMooreLorussoHortensius_CHI2024Workshop.pdf">postprint</a>]

        <br>
        <br>    
        
        Rosanne H. Timmerman+, Te-Yi Hsieh+, Anna Henschel*, <b>Ruud Hortensius*</b>, & Emily S. Cross* (2021). Individuals expend more effort to compete against robots than humans after observing competitive human-robot interactions. 
        In <i>Proceedings of the 2021 International Conference on Social Robotics</i> 
        <br>  
        <i>+joint first authorship *joint last authorship</i>
         <br>  
         <br>  
         &nbsp;&nbsp;&nbsp;&nbsp; [<a href="https://psyarxiv.com/7fgcx">preprint</a>]
         [<a href="https://osf.io/uvy3b/">data</a>]
         
         <div class="row" style="padding-top: 5px; margin-top: - 5px;">
         </div>
         <br>
        
        <h3>Manuals</h3>
        Anna Henschel, Michaela Kent, Luca M. Leisten, Hanna Seelemeyer, Rosanne H. Timmerman, <b>Ruud Hortensius</b>, & Emily S. Cross (202). A manual to digitising fNIRS probes with photogrammetry as described in Clausner et. al. (2017) 
        <br>  
         <br>  
         &nbsp;&nbsp;&nbsp;&nbsp; [<a href="https://zenodo.org/record/4146985#.YB3SQ3kxmGR">manual</a>]
       
         <div class="row" style="padding-top: 5px; margin-top: - 5px;">
         </div>
         <br>

        
        
        <hr>
         For a full list of publications, please see <a href="https://scholar.google.com/citations?hl=en&user=kOa9KygAAAAJ">Google Scholar</a>.

        <br>
        <br>    

</div>